<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Turplanering</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'unsafe-eval' 'self' https://unpkg.com https://cdnjs.cloudflare.com; style-src https://unpkg.com https://fonts.googleapis.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com; child-src 'none'; img-src 'self' data: https://minkarta.lantmateriet.se https://wts1.smhi.se https://wts2.smhi.se  https://wts3.smhi.se https://wts4.smhi.se https://unpkg.com; connect-src 'self' https://opendata-download-metfcst.smhi.se" >
        <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous"/>
    </head>
    <body style="margin: 0px">
        <div id="root"></div>
        <% if (webpackConfig.mode == 'production') { %>
            <script src="https://unpkg.com/react@16/umd/react.production.min.js" integrity="sha256-XO+TZ9K8q6JbdNIODhOdLPkA6RI+X94mEBruf0D2tc8=" crossorigin></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" integrity="sha256-SUn04c/56KlgtEyai+cLxLsQIW600BI8phdT4JCKD4c=" crossorigin></script>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha256-yDc0eil8GjWFKqN1OSzHSVCiuGghTosZCcRje4tj7iQ=" crossorigin></script>
        <% } else { %>
            <script src="https://unpkg.com/react@16/umd/react.development.js" integrity="sha256-db9g8+oOPLzb3syQLuuEK2y+OduOYvH6f5GnVdUdAgw=" crossorigin></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" integrity="sha256-cz/+89EvSbYnW6R8XXgkx+lIt+EC/Voe+bW5gO5dndo=" crossorigin></script>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet-src.js" integrity="sha256-dG7rUAec0UN0e3nlMEuYJzsbK0rpoz4hBbNp0ir9iF8=" crossorigin></script>
        <% } %>
    </body>
</html>
